<div>
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Payoff App</h1>
                    <p class="lead">Enter your country, origin, and destination to receive the payoff value.</p>
                </div>
            </div>
            <div v-if="loading">
                <div class="loader" style="margin:auto;"></div>
                <br>
                <br>
                <p>loading...</p>
            </div>
            <div v-if="error">
                {{error}}
            </div>
            <div v-if="!loading" class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card bg-info">
                            <div class="card-body">
                                <form class="text-left">
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="country">Country:</label>
                                            <select class="form-control" v-model="country" id="country-select">
                                                <option value="">-- SELECT COUNTRY --</option>
                                                <option value="US">United States</option>
                                                <option value="GB">Great Britain</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="origin">Origin:</label>
                                            <select class="form-control" v-model="origin" :cities="cities" id="city-select">
                                                <option value="">-- SELECT CITY --</option>
                                                <option v-for="city in cities" :key="city">{{city}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="destination">Destination:</label>
                                            <select class="form-control" v-model="destination" :cities="cities" id="city-select">
                                                <option value="">-- SELECT CITY --</option>
                                                <option v-for="city in cities" :key="city">{{city}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="button" @click="getPayoff()">SUBMIT</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" v-if="payoff">
                    <span>PAYOFF: {{payoff.value | currencyConversion(country)}}</span><br>
                    <span>ROUTE: {{payoff.route}}</span>
                </div>
                <div style="">
                    <h3>History:</h3>
                    <ul class="list-group">
                        <li v-for="payoff in history" :key="payoff.value" class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="font-weight: bold;">{{payoff.route}}</span>
                            <span class="badge badge-success badge-pill">{{payoff.value | currencyConversion(country)}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h6>SETTINGS</h6>
        <button @click="clearData()">CLEAR DATA</button>
        <button @click="runSanityCheck()">SANITY CHECK</button>
        <div v-if="sanity">
            <div v-html="sanity"></div>
        </div>
    </div>
</div>