<template>
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                      <h1 class="display-4">Payoff App</h1>
                      <p class="lead">Enter your country, origin, and destination to receive the payoff value.</p>
                  </div>
              </div>
              <div class="card bg-info">
                  <div class="card-body">
                      <div class="alert alert-success" role="alert" v-if="payoff">
                          <span>{{payoff.value | currencyConversion(country)}}</span><br>
                          <span>{{payoff.route}}</span>
                      </div>
                      <div v-if="loading">
                          <div class="loader" style="margin:auto;"></div>
                          <br>
                          <br>
                          <p style="color:white;">loading...</p>
                      </div>
                      <div v-if="!loading" class="">
                          <form class="text-left my-3">
                              <div class="form-group" v-if="!country">
                                  <label for="country">Country:</label>
                                  <select class="form-control" v-model="country" id="country-select">
                                      <option value="">-- SELECT COUNTRY --</option>
                                      <option value="US">United States</option>
                                      <option value="GB">Great Britain</option>
                                  </select>
                              </div>
                              <h3 style="color:white;text-align:center;" v-else>{{country === 'US' ? 'United States':'Great Britain'}}</h3>
                              <div class="form-group">
                                  <label for="origin">Origin:</label>
                                  <select class="form-control" v-model="origin" :cities="cities" id="city-select">
                                      <option value="">-- SELECT CITY --</option>
                                      <option v-for="city in cities" :key="city">{{city}}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="destination">Destination:</label>
                                  <select class="form-control" v-model="destination" :cities="cities" id="city-select">
                                      <option value="">-- SELECT CITY --</option>
                                      <option v-for="city in cities" :key="city">{{city}}</option>
                                  </select>
                              </div>
                              <div class="text-center">
                                <button type="button" class="btn btn-success" @click="getPayoff()">SUBMIT</button>
                              </div>
                          </form>
                      </div>
                      <ul class="list-group">
                          <li v-for="payoff in history" :key="payoff.value" class="list-group-item d-flex justify-content-between align-items-center">
                              <span style="font-weight: bold;">{{payoff.route}}</span>
                              <span class="badge badge-success badge-pill">{{payoff.value | currencyConversion(country)}}</span>
                          </li>
                      </ul>
                  </div>
              </div>
              <div>
              </div>
          </div>
      </div>
      <div class="my-3">
          <button class="btn btn-success" @click="clearData()">CLEAR DATA</button>
          <br>
          <br>
          <button class="btn btn-success" @click="runSanityCheck()">SANITY CHECK</button>
          <div v-if="sanity">
              <div v-html="sanity"></div>
          </div>
          <div v-if="error">
            {{error}}
          </div>
      </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Home",
  data() {
    return {
      loading: false,
      cities: [],
      regions: [],
      error: null,
      origin: "",
      destination: "",
      country: "",
      payoff: null,
      history: [],
      sanity: ""
    };
  },
  created() {
    this.initData();
  },
  filters: {
    currencyConversion: function(value, country) {
      if (!value) return "";
      value *= 1000;
      const currencyCode = country.toUpperCase() === "US" ? "$" : "£";
      return `${currencyCode}${value
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`;
    }
  },
  watch: {
    async country() {
      try {
        const response = await this.initData();
        return response;
      } catch (error) {
        if(this.country){
          throw error;
        }
      }
    }
  },
  methods: {
    async initData() {
      try {
        const code = this.country === "US" ? "US" : "GB";
        this.regions = await this.getRegions(code);
        this.cities = await this.getCities(code);
        this.loading = false;        
      } catch (error) {
        this.loading = false;
        this.error = error;
      }
    },
    clearData() {
      this.country = "";
      this.cities = [];
      this.regions = [];
      this.origin = "";
      this.destination = "";
      this.payoff = null;
      this.history = [];
      this.sanity = "";
    },
    async runSanityCheck() {
      try {
        if (!this.sanity) {
          const response = await axios.get(
            `https://cryptic-savannah-68146.herokuapp.com/api/v1/sanity`
          );
          this.sanity = response.data.html;
          return response;
        } else {
          this.sanity = "";
        }
      } catch (error) {
        throw error;
      }
    },
    async getPayoff() {
      this.error = this.regions = null;
      try {
        const response = await axios.get(
          `https://cryptic-savannah-68146.herokuapp.com/api/v1/payoff/${
            this.country
          }/${this.origin}/${this.destination}`
        );
        this.payoff = response.data;
        this.history.unshift(this.payoff);
        this.origin = this.destination;
        this.destination = "";
        return response.data;
      } catch (error) {
        this.error = error;
        return error;
      }
    },
    async getRegions() {
      this.error = this.regions = null;
      this.loading = true;      
      try {
        if(this.country){
          const response = await axios.get(
            `https://cryptic-savannah-68146.herokuapp.com/api/v1/regions/${
              this.country
            }`
          );
          this.regions = response.data.regions;
          return response.data.regions;
        }
      } catch (error) {
        this.error = error;
        return error;
      }
    },
    async getCities() {
      this.error = this.cities = null;
      this.loading = true;
      try {
        if(this.country){
          const response = await axios.get(
            `https://cryptic-savannah-68146.herokuapp.com/api/v1/cities/${
              this.country
            }`
          );
          this.cities = response.data.cities;
          return response.data.cities;
        }
      } catch (error) {
        this.error = error;
        return error;
      }      
    }
  }
};
</script>

<style scoped>
label {
  color: white;
}
.btn-success {
  background: #42b883;
}
.bg-info {
  background-color: #35495e !important;
}
.alert-success {
  background: #42b883;
  color: black;
  font-weight: bold;
}
.badge-success {
  background: #42b883;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #42b883;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
